<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fire.dao.TroubletableMapper" >
  <resultMap id="BaseResultMap" type="com.fire.po.Troubletable" >
    <id column="troubletableid" property="troubletableid" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="unitid" property="unitid" jdbcType="INTEGER" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="unitname" property="unitname" jdbcType="VARCHAR" />
    <result column="risk1" property="risk1" jdbcType="INTEGER" />
    <result column="risk2" property="risk2" jdbcType="INTEGER" />
    <result column="risk3" property="risk3" jdbcType="INTEGER" />
    <result column="risk4" property="risk4" jdbcType="INTEGER" />
    <result column="risk5" property="risk5" jdbcType="INTEGER" />
    <result column="risk6" property="risk6" jdbcType="INTEGER" />
    <result column="otherrisk" property="otherrisk" jdbcType="INTEGER" />
    <result column="checkdate" property="checkdate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    troubletableid, userid, unitid, organization, year, month, day, unitname, risk1, 
    risk2, risk3, risk4, risk5, risk6, otherrisk, checkdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from troubletable
    where troubletableid = #{troubletableid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from troubletable
    where troubletableid = #{troubletableid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fire.po.Troubletable" >
    insert into troubletable (troubletableid, userid, unitid, 
      organization, year, month, 
      day, unitname, risk1, 
      risk2, risk3, risk4, 
      risk5, risk6, otherrisk, 
      checkdate)
    values (#{troubletableid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{unitid,jdbcType=INTEGER}, 
      #{organization,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{month,jdbcType=VARCHAR}, 
      #{day,jdbcType=VARCHAR}, #{unitname,jdbcType=VARCHAR}, #{risk1,jdbcType=INTEGER}, 
      #{risk2,jdbcType=INTEGER}, #{risk3,jdbcType=INTEGER}, #{risk4,jdbcType=INTEGER}, 
      #{risk5,jdbcType=INTEGER}, #{risk6,jdbcType=INTEGER}, #{otherrisk,jdbcType=INTEGER}, 
      #{checkdate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fire.po.Troubletable" >
    insert into troubletable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="troubletableid != null" >
        troubletableid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="unitid != null" >
        unitid,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="unitname != null" >
        unitname,
      </if>
      <if test="risk1 != null" >
        risk1,
      </if>
      <if test="risk2 != null" >
        risk2,
      </if>
      <if test="risk3 != null" >
        risk3,
      </if>
      <if test="risk4 != null" >
        risk4,
      </if>
      <if test="risk5 != null" >
        risk5,
      </if>
      <if test="risk6 != null" >
        risk6,
      </if>
      <if test="otherrisk != null" >
        otherrisk,
      </if>
      <if test="checkdate != null" >
        checkdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="troubletableid != null" >
        #{troubletableid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="unitid != null" >
        #{unitid,jdbcType=INTEGER},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="risk1 != null" >
        #{risk1,jdbcType=INTEGER},
      </if>
      <if test="risk2 != null" >
        #{risk2,jdbcType=INTEGER},
      </if>
      <if test="risk3 != null" >
        #{risk3,jdbcType=INTEGER},
      </if>
      <if test="risk4 != null" >
        #{risk4,jdbcType=INTEGER},
      </if>
      <if test="risk5 != null" >
        #{risk5,jdbcType=INTEGER},
      </if>
      <if test="risk6 != null" >
        #{risk6,jdbcType=INTEGER},
      </if>
      <if test="otherrisk != null" >
        #{otherrisk,jdbcType=INTEGER},
      </if>
      <if test="checkdate != null" >
        #{checkdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fire.po.Troubletable" >
    update troubletable
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="unitid != null" >
        unitid = #{unitid,jdbcType=INTEGER},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        unitname = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="risk1 != null" >
        risk1 = #{risk1,jdbcType=INTEGER},
      </if>
      <if test="risk2 != null" >
        risk2 = #{risk2,jdbcType=INTEGER},
      </if>
      <if test="risk3 != null" >
        risk3 = #{risk3,jdbcType=INTEGER},
      </if>
      <if test="risk4 != null" >
        risk4 = #{risk4,jdbcType=INTEGER},
      </if>
      <if test="risk5 != null" >
        risk5 = #{risk5,jdbcType=INTEGER},
      </if>
      <if test="risk6 != null" >
        risk6 = #{risk6,jdbcType=INTEGER},
      </if>
      <if test="otherrisk != null" >
        otherrisk = #{otherrisk,jdbcType=INTEGER},
      </if>
      <if test="checkdate != null" >
        checkdate = #{checkdate,jdbcType=VARCHAR},
      </if>
    </set>
    where troubletableid = #{troubletableid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fire.po.Troubletable" >
    update troubletable
    set userid = #{userid,jdbcType=INTEGER},
      unitid = #{unitid,jdbcType=INTEGER},
      organization = #{organization,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      month = #{month,jdbcType=VARCHAR},
      day = #{day,jdbcType=VARCHAR},
      unitname = #{unitname,jdbcType=VARCHAR},
      risk1 = #{risk1,jdbcType=INTEGER},
      risk2 = #{risk2,jdbcType=INTEGER},
      risk3 = #{risk3,jdbcType=INTEGER},
      risk4 = #{risk4,jdbcType=INTEGER},
      risk5 = #{risk5,jdbcType=INTEGER},
      risk6 = #{risk6,jdbcType=INTEGER},
      otherrisk = #{otherrisk,jdbcType=INTEGER},
      checkdate = #{checkdate,jdbcType=VARCHAR}
    where troubletableid = #{troubletableid,jdbcType=VARCHAR}
  </update>

  <select id="getTroubletableCheckDate" resultType="com.fire.po.TroubleCheckDate" parameterType="java.lang.Integer">
    SELECT troubletableid,checkdate FROM troubletable WHERE unitid =#{unitid}
  </select>
</mapper>